<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<h2>ユーザー向け</h2>
<a href="/vote">投票トップ</a><br>
<h2>管理者向け</h2>
<a href="/admin">集計結果ページ</a><br>
<a href="/admin/scan">QRコードスキャンページ</a>
</body>
</html>
